.footer {
  max-width: 880px;
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin: 67px auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}
@media screen and (max-width: 786px) {
  .footer {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 50px;
  }
}
